*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background:blue;
}

.inputBox{
    position: relative;
    width: 250px;
}
.inputBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255.255.255.0.25);
    background: #1d2b3a;
    border-radius: 10px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
}
.inputBox span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255.255.255.0.25);
    text-transform: uppercase;
    transition: 0.5S;

}
.inputBox input:valid~span,
.inputBox input:focus~span
{
    
color: #00dfc4;
transform: translateX(10px)translateY(-7PX);
font-size: 0.65em;
padding:  0 10PX;
background: #1d2b3a;
border-left: 1PX solid #00dfc4;
border-right: #00dfc4;
letter-spacing: 0.2em;

}
.inputBox:nth-child(2)input:valid~span,
.inputBox:nth-child(2)input:valid~span{

    background-color: #00dfc4;
    color: #1d2b3a;
    border-radius: 2px;

}

.inputBox input:valid,
.inputBox input:focus{

    border: 1px solid #00dfc4;
}

a{
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transform: 0.5s;
}
a:hover{
    letter-spacing: 0.25em;
}
a::before{
    content: '';
    position: absolute;
    inset: 2px;
    background: #272827;
}
a span{
    position: relative;
    z-index: 1;
}
a i{
    position: absolute;
    inset: 0;
    display: block;
}
